@use "../vars.scss" as *;

.messages {
  .head {
    margin-bottom: 66px;
    > h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      letter-spacing: -0.408px;
      text-transform: capitalize;
      color: $secondry;
    }
    .addClient a {
      padding: 16px 32px;
      background-color: #2D3245;
      color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      text-transform: capitalize;
      &:hover {
        background-color: $primary;
      }
    }
  }
  .boxes {
    @include grid(350px);
    gap: 16px;

    .box {

      background-color: white;
      @include rad(15px);
      padding: 16px 16px 40px;
      
      .title {

        border-bottom: 1.23319px solid rgba(222, 222, 222, 0.58);

        h2 {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-transform: capitalize;
          color: $primary-f;
        }

        button {
          color: $icons;
          &:hover {
            color: red;
          }
          &:first-of-type:hover {
            color: $secondry;
          }
        }

      }

      .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */

        text-transform: capitalize;

        color: #686868;
      }
      
    }
  }
}


.message-pop-up , .success-message {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.686);
  z-index: 1000;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100000000000000;
  
  .content {
    padding: 24px 24px 60px;
    background: white;
    @include rad(15px);
    width: 60%;

    .head {
      border-bottom: 1.23319px solid rgba(222, 222, 222, 0.58);

      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
        color: $secondry;
      }
      
      button {
        svg {
          color: $icons;
          &:hover {
            color: red;
          }
        }
      }
    }

    form {
      label {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: $primary-f;
      }
      input , select {
        padding: 16px 12px;
      }
      textarea {
        padding: 12px;
        margin-bottom: 64px;
      }
      textarea , input , select {
        &::placeholder {
          font-size: 16px;
          line-height: 19px;
          text-transform: capitalize;

          color: #686868;
        }
        border: 1px solid #BFBFBF;
        background: rgba(246, 245, 248, 0.5);
        @include rad(10px);
        outline: none;
        &:focus {
          border:1px solid $primary;
        }
      }
      .btns {
        justify-content: flex-end;
        a , button {
          padding: 15px 50px;
          @include rad(10px);
        }
        button {
          background-color: $secondry;
          color: white;
          &:hover {
            background-color: $primary;
          }
        }
        a {
          color: $secondry-f;
          border: 1px solid $secondry-f;
          &:hover {
            color: $primary;
            border-color: $primary;
          }
        }
      }
    }
  }
}
.message-pop-up {
  display: none;

  &.active {
    display: flex;
  }
}
.success-message {
  display: none;
  &.active {
    display: flex;
  }
  .content {
    position: relative;
    padding: 70px 0;
    width: 50%;

    button {
      position: absolute;
      top: 24px;
      right: 24px;
      color: $icons;
      &:hover {
        color: red;
      }
    }
    
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-transform: capitalize;

      /* primary */

      color: $secondry;
    }
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
      color: #5D5D5D;
    }
  }
}


@media (max-width: 768px) {

  .messages {
    .head {
      margin-bottom: 30px;
      > h2 {
        font-size: 16px;
      }
      .addClient a {
        padding: 8px 16px;
        font-size: 12px;
      }
    }
    .boxes {
      @include grid(300px);
      gap: 8px;
  
      .box {
  
        padding: 10px 10px 30px;
        
        .title {
  
  
          h2 {
            font-size: 14px;
          }
  
        }
  
        .text {
          font-size: 12px;
        }
        
      }
    }
  }
  
  
  .message-pop-up , .success-message {
    
    .content {
      width: 95%;
  
      .head {
  
        h2 {
          font-size: 16px;
        }
      }
  
      form {
        label {
          font-size: 14px;
        }
        input , select {
          padding: 8px 6px;
        }
        textarea {
          margin-bottom: 30px;
        }
        textarea , input , select {
          &::placeholder {
            font-size: 12px;
          }
        }
        .btns {
          a , button {
            padding: 10px 30px;
          }
        }
      }
    }
  }

  .success-message {

    .content {
      padding: 40px 0;
      width: 90%;

      
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 12px;
      }
    }
  }
} 